# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile

# Unignore all dirs
!*/
!api

.idea
**/.DS_Store
**/logs
go.sum

# gitlab ci
.cache

# vim auto backup file
*~
!OWNERS
